* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", "Open Sans", "Arial", sans-serif;
    line-height: 28px;
}

body {
    overflow-x: hidden;
}

a {
    display: block;
    text-decoration: none;
}

::selection {
    background: black;
    color: #fff;
}

/*-------------------------wiewport------------------------------*/
.wiewport {
    width: 100%;
    height: 100vh;
    background-image: url('./pictures/Firth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.conteiner {
    max-width: 1160px;
    margin: auto;
    padding: 0 20px;
}
.nawbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: .4s;
    z-index: 9999;
}
.nawbar.sticky {
    background-color: #fff;
    height: 70px;
    transition: .4s;
}
.nawbar.sticky .leftnaw {
    height: 70px;
}
.nawbar.sticky .rightnaw {
    height: 70px;
    top: 70px;
}
.nawbar.sticky .hamburger_menu {
    margin-top: 10px;
}
.nawbar.sticky .leftnaw_h1 {
    color: #000;
}
.nawbar.sticky .naw_ul .naw_li .naw_a {
    color: #000;
    font-weight: 500;
}

.nawbar.sticky .bar{
    background-color: #000;
}
.nawbar.sticky .bar::before{
    background-color: #000;
}
.nawbar.sticky .bar::after{
    background-color: #000;
}
.nawbar .leftnaw {
    height: 100px;
    float: left;
    display: flex;
    align-items: center;
}
.leftnaw .leftnaw_h1 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.rightnaw {
    float: right;
    height: 100px;
}
#checknaw {
    display: none;
}
.hamburger_menu {
    width: auto;
    height: 50px;
    cursor: pointer;
    display: none;
    float: right;
    margin-top: 25px;
}
.bardiv {
    width: auto;
    height: auto;
    transform: rotate(-180deg);
    transition: .5s;
}
.bar {
    width: 1.5rem;
    height: 1.3px;
    border-radius: 2px;
    background-color: #ececec;
    position: relative;
}
.bar:before,
.bar:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.3s;
}
.bar::before {
    transform: translateY(-9px);
}
.bar::after {
    transform: translateY(9px);
}
#checknaw:checked ~ label .bardiv {
    transform: rotate(180deg);
    transition: .5s;
}
#checknaw:checked ~ label .bar {
    transform: rotate(360deg);
    background-color: transparent;
}
#checknaw:checked ~ label .bar::before {
    transform: rotate(45deg);
}
#checknaw:checked ~ label .bar:after {
    transform: rotate(-45deg);
}
.naw_ul {
    height: 100%;
    display: block;
}

.naw_ul .naw_li {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.naw_ul .naw_li .naw_a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    display: block;
}

.xme {
    color: #fed92e !important;
}

.crc {
    clear: both;
}

.center_flex {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.center_name {
    width: 80%;
    height: auto;
    float: left;
    padding: 85px 0;
}

.all_h1 {
    font-size: 80px;
    font-weight: 700;
    color: #fed92e;
    line-height: 1.2;
    letter-spacing: -2px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.plus {
    color: #fff;
}

.all_p {
    margin-right: 450px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
}

.link_us {
    display: inline-block;
    padding: 12px 40px;
    border-radius: 24px;
    background-color: #fed92e;
    transition: .3s;
}

.link_us a {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

.link_us:hover {
    background-color: #fff;
    transition: .3s;
    cursor: pointer;
}

/*-------------------------wiewport end------------------------------*/
/*-------------------------energetic------------------------------*/
.energetic {
    width: 100%;
    height: 100vh;
    background-image: url('./pictures/Second.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    -moz-box-align: center;
}

.center_name2 {
    text-align: right;
    float: right;
    padding: 85px 0;
}

.energiy_h1 {
    color: #fe2f3e;
    float: right;
}

.energiy_p {
    margin-right: 0 !important;
    margin-left: 450px;
}

.link_us2 {
    background-color: #fe2f3e;
}

.link_us2:hover.link_us2 a {
    color: #000 !important;
    transition: .3s;
}

.link_us2 a {
    color: #fff;
    letter-spacing: 1px;
    transition: .3s;
}

/*-------------------------energetic end------------------------------*/
/*-------------------------counter------------------------------*/
.counter {
    width: 100%;
    height: auto;
}
.topcounter {
    background-image: url('./pictures/Third.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
}
.counter_h1 {
    color: aqua;
}
.counter_p {
    width: 70%;
    margin-right: 0 !important;
}
.link_us3 {
    background-color: aqua;
}

.all_bottomcounter {
    width: 100%;
    background-color: #151515;
    padding-bottom: 6rem;
}
.bottomcounter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.count_div {
    width: 200px;
    height: auto;
    border-left: 1px solid rgba(75, 75, 75, 0.404);
}
.counter_div {
    width: 100%;
    font-size: 55px;
    color: #fff;
    font-weight: 800;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}
.count_div1 {
    border-left: none !important;
}
.count_p {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 15px;
    text-align: center;
}
/*-------------------------counter end------------------------------*/
/*-------------------------palns------------------------------*/
.plans {
    width: 100%;
    height: auto;
    background-image: url('pictures/Fourth.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 6rem 0;
}
.plans_div {
    padding-bottom: 60px;
}
.plans_div .plans_h1 {
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.bottomplan_flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.plancard {
    width: 340px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.678);
    margin-top: 15px;
    padding: 30px;
}
.midle {
    width: 350px;
    height: auto;
    border: 5px solid #39B54A;
    margin-top: 0;
    padding: 50px 30px 50px 30px;
}
.mb {
    margin-bottom: 20px;
}
.basic {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.basic2 {
    font-weight: 500;
}
.num {
    color: #fff;
    font: 600 55px "Poppins","Open Sans","Arial",sans-serif;
    letter-spacing: -1px;
    margin-bottom: 40px;
}
.numo {
    font-size: 23px;
}
.store {
    font-size: 600 16px Roboto, "Open Sans","Arial",sans-serif;
    color: #999;
}
.button_plandiv {
    text-align: center;
    margin-top: 80px;
}
.button_plan {
    display: inline-block;
    padding: 7px 30px;
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}
.button_plan:hover {
    border: 1px solid #39B54A;
    background-color: #39B54A;
    transition: .3s;
}
.button_plan2 {
    background-color: #39B54A;
    border-color: #39B54A;
}
.button_plan2:active {
    background: transparent;
}
/*-------------------------plans end------------------------------*/
/*-------------------------person, touch------------------------------*/
.person {
    width: 100%;
    background-color: #151515;
    padding: 6rem 0;
}
.allperson_flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.card_person {
    width: 350px;
    height: auto;
    text-align: center;
}
.personimg {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.person_p1 {
    color: #999;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 30px;
}
.person_p2 {
    color: #fff;
    font-weight: 600;
}
.person_p3 {
    color: #999;
}

.touch {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.666), rgba(0, 0, 0, 0.666)), url('pictures/Sixth.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
}
.all_touch {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.touch_h4 {
    color: #fff;
    margin-right: 50px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.3;
}
.touch_a {
    background-color: rgba(237,20,91,1);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 30px;
    border-radius: 5px;
    font-size: 13px;
    transition: .3s;
}
.touch_a:hover {
    background-color: #fff;
    color: #000;
    transition: .3s;
}
/*-------------------------person, touch end------------------------------*/
/*-------------------------footer------------------------------*/
.footer {
    width: 100%;
    height: auto;
    background-color: #151515;
    padding: 6rem 0;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card_footer {
    width: 21%;
}
.top_p {
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}
.center_p {
    color: #999;
    overflow: hidden;
}
.center_p2 {
    margin-bottom: 20px;
}
.footer_ico {
    display: block;
    float: left;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    transition: .3s;
}
.footer_ico:hover {
    transform: translateY(-10px);
    transition: .3s;
}
.footer_ico:hover .fa-facebook-f {
    color: #3b5998;
}
.footer_ico:hover .fa-instagram {
    color: rgb(99, 0, 138);
}
.footer_ico:hover .fa-youtube {
    color: #ff0000;
}
.footer_ico:hover .fa-telegram-plane {
    color: #1da1f2;
}
/*-------------------------footer end------------------------------*/

/*-------------------------About page------------------------------*/
.wiewport2 {
    background-image: url('./pictures/abt-second.jpg');
    background-position: 70% 100%;
}
.center_flex2 {
    width: 100%;
    height: 100vh;
}
.center_name3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.about_h1 {
    width: 70%;
}
.mini_center2 {
    width: 50%;
    float: left;
}
.about_p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}
.learn-more {
    color: #fed92e;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}
.learn-more::before {
    content: "";
    display: inline-block;
    border-bottom: 2px solid;
    width: 1.5rem;
    background-color: #fed92e;
    margin-right: 1.125rem;
    vertical-align: middle;
    transition: .2s;
}
.learn-more:hover.learn-more::before{
    width: 2.5rem;
    transition: .2s;
}

.stats {
    height: auto;
    background-color: #151515;
    padding: 6rem 0;
}
.stats.sticky {
    background-color: #000;
}
.flex_stats {
    height: 100%;
    display: flex;
    justify-content: center;
}
.lrt {
    padding: 25px;
    width: 50%;
}
.rightstats {
    display: flex;
    align-items: center;
}
.stats_h1 {
    color: aqua;
}
.proogres_bar {
    width: 100%;
    height: auto;
}
.mini_proogres {
    margin-bottom: 20px;
}
.proogres_p {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
.skill_bar {
    width: 100%;
    height: 12px;
    background: #3B3B3B;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.expend {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
    z-index: 2;
    transition: 2s;
}
.expend.sticky {
    width: 90% !important;
}
.expend2.sticky {
    width: 86% !important;
}
.expend3.sticky {
    width: 97% !important;
}
.expend4.sticky {
    width: 87% !important;
}

.all_grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.mini_grid {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.mini_grid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.moudlediv, .moudlehover {
    background: rgba(0, 0, 0, 0.37);
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    transition: .5s;
}
.moudlehover {
    margin-top: 400px;
}
.mini_grid:hover .moudlediv {
    top: -100% !important;
    background: rgba(0, 0, 0, 0.733);
}
.mini_grid:hover .moudlehover {
    margin-top: 0;
    background: rgba(0, 0, 0, 0.733);
}
/*-------------------------About page end------------------------------*/