
@media only screen and (max-width: 980px) {
    .conteiner {
        max-width: 740px;
    }
    .all_h1 {
        font-size: 60px;
    }
    .all_p {
        margin-right: 100px;
    }
    .energiy_p {
        margin-left: 100px;
    }
    .all_grid {
        grid-template-columns: 50% 50%;
    }
    .checkout_div {
        margin-left: 0;
    }
    .book_name {
        width: 90%;
    }
}
@media only screen and (max-width: 780px) {
    .hamburger_menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .rightnaw {
        width: 100%;
        height: auto;
        background-color: #fff;
        opacity: 0;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        z-index: 999 !important;
        transition: .4s;
        overflow: hidden;
    }
    .naw_ul .naw_li {
        display: block;
        float: none;
        padding: 5px 0;
        border-bottom: 1px solid rgba(143, 143, 143, 0.151);
    }
    .naw_ul .naw_li .naw_a {
        color: #000;
        padding: 2px 30px;
        font-weight: 500;
    }
    #checknaw:checked ~ .rightnaw {
        transition: .6s;
        opacity: 1;
    }
    .nawbar.sticky .rightnaw {
        height: auto;
    }
    .topcounter {
        background-position: 80% 0;
    }
    .bottomcounter {
        flex-direction: column;
    }
    .count_div {
        width: 100%;
        border-bottom: 1px solid rgba(75, 75, 75, 0.404);
        border-left: 0;
    }
    .plans {
        background-position: center;
    }
    .bottomplan_flex {
        flex-direction: column;
    }
    .plancard {
        width: 100%;
    }
    .allperson_flex {
        flex-direction: column;
    }
    .card_person {
        width: 100%;
    }
    .person_p1 {
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
    .all_touch {
        flex-direction: column;
    }
    .touch_h4 {
        margin-right: 0;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .footer_flex {
        flex-direction: column;
    }
    .card_footer {
        width: 100%;
    }
    .center_flex2 {
        height: auto;
    }
    .center_name3 {
        height: auto;
        padding-top: 130px;
    }
    .about_h1 {
        width: 100%;
        font-size: 30px !important;
        margin-bottom: 40px;
    }
    .center_name3 {
        flex-direction: column;
    }
    .mini_center2 {
        width: 100%;
    }
    .flex_stats {
        flex-direction: column;
    }
    .lrt {
        width: 100%;
    }
    .stats_h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .all_grid {
        grid-template-columns: 100%;
    }
    .convenience_fx {
        flex-direction: column;
    }
    .convenience_col {
        width: 100%;
    }
    .best_flex {
        flex-direction: column;
    }
    .col_best {
        width: 100%;
        margin-bottom: 40px;
    }
    .trainers_flex, .trainers_flex2 {
        flex-direction: column;
    }
    .cool_trainers {
        width: 100%;
    }
} 
@media only screen and (max-width: 580px) {
    .center_name {
        width: 100%;
    }
    .conteiner {
        max-width: 450px;
    }
    .all_h1 {
        font-size: 40px;
    }
    .all_p {
        margin: 0;
        margin-bottom: 15px;
        font-size: 16px;
    }
    .person_p1 {
        width: 100%;
    }
    .fa-star {
        font-size: 28px;
    }
    .best_h1 {
        font-size: 22px;
    }
    .best_h4 {
        font-size: 18px;
    }
    .book_p  {
        margin-right: 100px !important;
    }
    .trainers_name {
        padding: 100px 40px;
    }
}
@media only screen and (max-width: 280px) {
    * {
        word-break: break-all;
    }
} 